body
{
    display: flex;
    justify-content: center;
    
}


#operations
{
    display: flex;
    flex-direction: column;
}

#screen
{
    background-color: greenyellow;
    width: 80%;
    min-height: 16%;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 5px solid black;
    border-radius: 2%/8%;
}


#calculator
{

    align-self: center;
    margin-top: 5%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 480px;
    aspect-ratio: 1/1;
    border-radius: 2%/2%;
    border: 5px solid black;
}

#numbers
{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    justify-content: center;
}

#numbers > .row > button
{
    flex: 1;
    border-radius: 4%/4%;
}

button
{
    width: 20%;
    aspect-ratio: 1/1;
    margin: 2%;

}

.row
{
    flex: 1;
    display: flex;
    
}

#main
{
    font-size: 43px;
    text-align: right;
    word-wrap: break-word;
}

#current
{
    font-size: 23px;
    text-align: right;
    word-wrap: break-word;
}

#clear-back
{   
    display: flex;
    flex: 1;
    justify-content: center;
}

#clear-back > button
{
    aspect-ratio: 4/1;
    height: 20%;
    flex: 1;
}


.number
{
    background-color:orange;
    border : none;
}

.operations, #equals
{
    background-color: black;
    color: whitesmoke;
}

.number, .operations, #equals
{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#clear-back > button
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
    border: 5px solid orange;
    border-radius: 3%/10%;
    font-weight: bold;

}

#main, #current
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.number:hover
{
    background-color: #fcb360;
}

.operations:hover, #equals:hover, #backspace:hover, #clear:hover
{
    background-color: rgb(95, 95, 95);
}